<!DOCTYPE html>
<html ng-app="app">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/serviceController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta charset="UTF-8">
    <title>Services</title>
</head>

<body>
    <div ng-controller="serviceController">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <h1>Angular Services</h1> </div>
                <div class="panel panel-body"></div>
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <label>HTTP request without a service</label>
                        </td>
                        <td>
                            <button class="btn btn-lg btn-primary" ng-click="httpRequest()">Http request</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Service with anonymous functions </label>
                        </td>
                        <td>
                            <button class="btn btn-lg btn-primary" ng-click="callServiceAnon()"> Anonymous</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Service with named functions</label>
                        </td>
                        <td>
                            <button class="btn btn-lg btn-primary" ng-click="callServiceNamed()">Named</button>
                        </td>
                    </tr>
                </table>
                <p class="text-center"><a ng-href="{{dataURL}}">File used for above tests</a></p>
            </div>
        </div>
    </div>
</body>

</html>